<!DOCTYPE html>
<html>
  <head>
    <title>new post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Posted: <a href="../articles/<%= doc._id %>"><%= doc.title %></a></h1>
  </body>
</html>
